@import url(https://use.typekit.net/xsd6tgi.css);

h1 {
    color: black;
    text-align: center;
    font-family: bebas-neue-pro, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

p{
  color: black;
  text-align: center;
  font-family: bebas-neue-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.aspilltext{
  grid-area: overlap;
  width: 50vw;
  height: 100%;
  z-index: 10;
  pointer-events:none;
}

.background{
  grid-area: overlap;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr;
  grid-template-areas:"Overlap";
}

.container1 {
  position: fixed;
  width: 30%;
  background-color: lightblue;
  height: 100vh;
  margin-right: 0px;
}

.container2 {
    position: relative;
    width: 70%;
    height: 100vh;
}

.test {  
    position: absolute;
    left: 50%;
    transform: translate( -50%);
    
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
    margin-left: 0px;
}

.p-inl-extra{
  margin-top: 20px;
}

.FrameJS{
  width: 100%;
  height: 100vh;
  margin-left: 0px;
}

.DivMain{ 
  width: auto;
  height: 100vh;
}

/*Breakpoints*/


@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 4.8vw;
  }
}

@media screen and (min-width: 1250px) {
  h1 {
    font-size: 60px;
  }
}
