@import url(https://use.typekit.net/xsd6tgi.css);
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  transition: all .5s ease-in-out;
}

:root{
  /* Custom properties */
  --MobileMenuText:1 ;
  --popUpMenuOpacity:0;
  --accentcolor:#ff0000;
  --black: #000;
}

h1 {
  color: var(--black);
  text-align: left;
  font-family: bebas-neue-pro, sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 3.0935101186322402vw;
  margin-top: 4.884856943475227vw;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 10px;
  
}
h2{
  user-select: none;
  color: var(--black);
  text-align: left;
  font-family: bebas-neue-pro, sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: -20px;
  margin-right: 0px;
  margin-left: 0px;
}

p{
  color: var(--black);
  text-align: left;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7445917655268668vw;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 20px;
}

.PMenu{
  color: var(--black);
  text-align: left;
  font-family: bebas-neue-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 5px;
  margin-right: 20px;
  animation-delay: 0.7s;
  animation-duration: 0.5s;
  animation-name: text-in;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-play-state: paused;
  opacity: 0;
}
.PMenu.open{
  animation-play-state:running;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
  z-index: 50;
}
.PMenu.closed{
  animation-iteration-count: initial;
  animation-name: text-out;
  animation-duration: 0.5s;
  animation-play-state:running;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
  opacity: 1;
}



/* button */
.SubmitQuantumValuesButton{
  font-family: bebas-neue-pro, sans-serif;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  color: #707070;
  background-color: white; 
  display:flex;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 18px 40px;
  border: none;
  border-radius: 6px;
  pointer-events: all;
  transition: all .1s ease-in-out;
}
.SubmitQuantumValuesButton:hover{
  background-color: #f6f6f6;
}
.SubmitQuantumValuesButton:active{
  background-color: #f0f0f0;
}

/* slider */
.slidercontainer{
  width: 480px;
  pointer-events:all;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 680px;
  display: flex;
  align-self: center;
  align-items: center;
  padding: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.40);
  border-style: solid;
  border-color:white;
  border-width: 1px;
  border-radius: 40px;
  border-right-width:0px;
  border-bottom-width: 0px;
  backdrop-filter: blur(3px) contrast(100%);
  -webkit-backdrop-filter: blur(3px) contrast(100%);
  box-shadow: 5px 5px 5px 8px rgba(0, 0, 0, .08);
  display: none;
  opacity:var(--popUpMenuOpacity);
  transition:display 0s, opacity .2s;
} 
.slidercontainer.closed{
  opacity:var(--popUpMenuOpacity);
  transform: translateX(-50%);
  display: none;
}
.slidercontainer.open{
  opacity:var(--popUpMenuOpacity);
  transform: translate(-50%, -50%);
  display: flex;
}
.textSliderParent{
  display: flex;
  justify-content: center;
}
.Pslider{
  pointer-events: none;
  font-size: 32px;
  font-family: bebas-neue-pro, sans-serif;
  font-style: normal;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 8px;
  color: #303030;
  user-select: none;
}

/* ------------------------- slider */
.slider{
  pointer-events: all;
  -webkit-appearance: none;
  width:100% ;
  height: 30px;
  background:rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 12px rgba(0, 0, 0, .15);
  outline: none;
  opacity: 1;
  border-radius: 0px ;
}
.sliderParent{
  width:100%
}
/* --------------------------- webkit browsers */
.slider::-webkit-slider-thumb {
  pointer-events: all;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 0px;
  background-color: black;
  overflow: visible;
  cursor: pointer;
}
/* -------------------------- Firefox */
.slider::-moz-range-thumb { 
  pointer-events: all;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 0px;
  background-color: black;
  overflow: visible;
  cursor: pointer;
}
.slider::-moz-focus-outer { border: 0; }
.closeSliderContainer{
  position: absolute;
  right: 55px;
  top: 30px;
  font-size: 35px;
}


.aspilltext{
  grid-area: overlap;
  width: 50vw;
  height: 100%;
  z-index: 10;
  pointer-events:none;
}

.background{
  grid-area: overlap;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  transition: unset;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr;
  grid-template-areas:"Overlap";
  background: url(/assets/Web_1920_–_2@2x.png) no-repeat center top fixed;
  background-size: cover;
}

.container1 {
  position: fixed;
  width: 30%;
  background-color: black;
  opacity: 0.1;
  height: 100vh;
  margin-right: 0px;
  box-shadow: 0 0 50px 60px black;
  pointer-events:none;
  transition: unset;
}

.container2 {
  position: relative;
  width: 70%;
  height: 100vh;
}

.test {  
  position: absolute;
  left: 50%;
  transform: translate( -50%);
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 0px;
  margin-left: 0px;
}

.p-inl-extra{
  margin-top: 20px;
  z-index: 50;
}

.FrameJS{
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  transition:unset;
}

.DivMain{ 
  width: auto;
  height: 100vh;
}

.menuLinks{
  position: fixed;
  overflow: hidden;
  padding-top: 30px;
  z-index: 25;
  pointer-events:none; 
}

.menuCube{
  opacity: 0;
  transform: rotate(-45deg); 
  background-color: white;
  filter:drop-shadow(20px,20px,50px);
  position: fixed;
  overflow: hidden;
  white-space:nowrap;
  animation-name: menu-in;
  animation-duration: 0.8s;
  z-index: 20;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-iteration-count: initial;
}
.menuCube.open{
  opacity: 1;
  animation-play-state:running;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}
.menuCube.closed{
  opacity: 1;
  animation-iteration-count: initial;
  animation-name: menu-out;
  animation-delay: 0.3s;
  animation-duration: 0.8s;
  animation-play-state:running;
  animation-fill-mode: forwards;
}

/*Breakpoints*/

/* mobiel */
@media screen and (max-width: 767px) {

  .slidercontainer{
    zoom: 0.75;
    -moz-transform: scale(0.75);
  }
  
  h1 {
    font-size: 30px;
    margin-top: 70px;
    margin-left: 0px;
    margin-right: 20px;
  }
  
  
  p{
    font-size: 18px;
    margin-left: 0px;;
  }
  
  .menuLinks{
    padding-top: 65px;
  }
  .PMenu{
    font-size: 15px;
    font-size: 30px;
    margin-left: 25px;
  }
  
  .menuCube{
    width: 700px;
    height: 700px;
    top: -375px;
    left: -375px;
  }

  /* mobile Menu button and animation */
  .aspilltext{
    padding-left: 20px;
    width: 70vw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
    border-top: 2px rgba(255, 255, 255, 0.5);
    border-right: 2px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px) contrast(100%);
    -webkit-backdrop-filter: blur(5px) contrast(100%);
    pointer-events: unset;
  }
  .aspilltext.closed{
    width: 80px;
    pointer-events: none;
  }
  .collapsable{
    opacity: 1;
    display:unset;
  }
  .collapsable.closed{
    opacity: 0;
    display: none;
  }
  .MobileMenuButton{
    /* transform: translate( -50%); */
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 60vw;
    margin-left: -10px;
    width: 50px;
    height: 50px;
    top: 50vh;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 30;
    pointer-events: all;
  }
  .MMB-Arrow{
    position: absolute;
    width: 40px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transform: translateY(-10px)rotate(35deg);
  }
  .MMB-Arrow::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transform: translateY(18px)translateX(12px)rotate(-70deg);
  }
  .MobileMenuButton.closed{
    right: 0px;
    left: 20px;
    margin-left: 0vw;
    margin-top: -20px;
  }
  .MobileMenuButton.closed .MMB-Arrow {
    transform: translateY(10px)rotate(-35deg);
  }
  .MobileMenuButton.closed .MMB-Arrow::after {
    transform: translateY(18px)translateX(-12px)rotate(70deg);
  }
  
  @keyframes menu-in {
    0%   { left: -375px; top: -800px; transform: rotate(0deg); }
    100%   { left:-375px; top:-375px; transform: rotate(-45deg); }
  }
  
  @keyframes text-in {
    0% { margin-left:-800px; opacity: 0; pointer-events:all; }
    20% { margin-left:-800px; opacity:1; pointer-events:all; }
    45% { margin-left: 25px; opacity: 1; pointer-events:all; }
    100% { margin-left:25px; opacity: 1; pointer-events:all; }
  }
  
  @keyframes menu-out {
    0%   { left:-375px; top:-375px; transform: rotate(-45deg); opacity: 1; }
    99%   { left:-375px; top: -800px; transform: rotate(0deg); opacity: 1; }
    100% {left:-375px; top: -800px; transform: rotate(0deg);  opacity: 0;}
  }
  
  @keyframes text-out {
    
    0% { margin-left:25px; opacity: 1;pointer-events:all; }
    20% { margin-left:25px; opacity: 1;pointer-events:all; }
    45% { margin-left:-800px; opacity:1; pointer-events:all; }
    100% { margin-left:-800px; opacity: 0; pointer-events:all; }
  }
}

/* ipad */
@media screen and (min-width: 767px) and (max-width:1024px){
  .aspilltext{
    padding-left: 40px;
  }

  h1 {
    font-size: 40px;
    margin-top: 70px;
    margin-left: 0px;
  }

  p{
    font-size: 20px;
    margin-left: 0px;
  }
  
  .menuLinks{
    padding-top: 70px;
  }
  .PMenu{
    margin-left: 40px;
    font-size: 30px;
  }

  .menuCube{
    width: 700px;
    height: 700px;
    top: -375px;
    left: -375px;
  }
  
  @keyframes menu-in {
    0%   { left: -375px; top: -800px; transform: rotate(0deg); }
    100%   { left:-375px; top:-375px; transform: rotate(-45deg); }
  }
  
  @keyframes text-in {
    0% { margin-left:-800px; opacity: 0; pointer-events:all; }
    20% { margin-left:-800px; opacity:1; pointer-events:all; }
    45% { margin-left: 40px; opacity: 1; pointer-events:all; }
    100% { margin-left:40px; opacity: 1; pointer-events:all; }
  }
  
  @keyframes menu-out {
    0%   { left:-375px; top:-375px; transform: rotate(-45deg); opacity: 1; }
    99%   { left:-375px; top: -800px; transform: rotate(0deg); opacity: 1; }
    100% {left:-375px; top: -800px; transform: rotate(0deg);  opacity: 0;}
  }
  
  @keyframes text-out {
    
    0% { margin-left:40px; opacity: 1;pointer-events:all; }
    20% { margin-left:40px; opacity: 1;pointer-events:all; }
    45% { margin-left:-800px; opacity:1; pointer-events:all; }
    100% { margin-left:-800px; opacity: 0; pointer-events:all; }
  }
}

/* vanaf ipad */
@media screen and (min-width: 1024px) {
  .aspilltext{
    padding-left: 40px;
  }
  h1 {
    margin-top: 100px;
    margin-left: 0px;
    font-size: 60px;
  } 
  
  p{
    font-size: 30px;
    margin-left: 0px;
  }
  
  .menuCube{
    width: 1000px;
    height: 1000px;
    top: -500px;
    left: -500px;
  }

  .menuLinks{
    padding-top: 100px;
  }

  .PMenu{
    font-size: 45px;
    margin-left: 40px;
  }
  
  @keyframes menu-in {
    0%   { left: -500px; top: -1200px; transform: rotate(0deg); }
    100%   { left:-500px; top:-500px; transform: rotate(-45deg); }
  }
  
  @keyframes text-in {
    0% { margin-left:-800px; opacity: 0; pointer-events:all; }
    20% { margin-left:-800px; opacity:1; pointer-events:all; }
    45% { margin-left: 40px; opacity: 1; pointer-events:all; }
    100% { margin-left:40px; opacity: 1; pointer-events:all; }
  }
  
  @keyframes menu-out {
    0%   { left:-500px; top:-500px; transform: rotate(-45deg); opacity: 1; }
    99%   { left:-500px; top: -1200px; transform: rotate(0deg); opacity: 1; }
    100% {left:-500px; top: -1200px; transform: rotate(0deg);  opacity: 0;}
  }
  
  @keyframes text-out {
    
    0% { margin-left:40px; opacity: 1;pointer-events:all; }
    20% { margin-left:40px; opacity: 1;pointer-events:all; }
    45% { margin-left:-800px; opacity:1; pointer-events:all; }
    100% { margin-left:-800px; opacity: 0; pointer-events:all; }
  }
}

/* MenuBurger button code i might have stolen */
.menu-btn {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  left: 30px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 30;
  /* border: 3px solid #fff; */
}


/* mobiel */
@media screen and (max-width: 767px) {
  .menu-btn {
    margin-left: -10px;
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }

  .menu-btn__burger {
    width: 33px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 33px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-10px);
  }
  .menu-btn__burger::after {
    transform: translateY(10px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

/* ipad */
@media screen and (min-width: 767px) and (max-width:1024px) {
  .menu-btn {
    margin-left: 10px;
    width: 60px;
    height: 60px;
    top: 15px;
  }
  
  
  .menu-btn__burger {
    width: 40px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-12px);
  }
  .menu-btn__burger::after {
    transform: translateY(12px);
  }
  
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

/* vanaf ipad */
@media screen and (min-width: 1024px) {

  .menu-btn {
    margin-left: 10px;
    margin-top: 15px;

  }
  .menu-btn__burger {
    width: 50px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
