@import url(https://use.typekit.net/xsd6tgi.css);
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  transition: all .5s ease-in-out;
}

:root{
  /* Custom properties */
  --leftMenTextMARGIN:20px;
  
}

h1 {
  color: black;
  text-align: left;
  font-family: bebas-neue-pro, sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 3.0935101186322402vw;
  margin-top: 4.884856943475227vw;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 15px;
}

p{
  color: black;
  text-align: left;
  font-family: bebas-neue-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.7445917655268668vw;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 2.7913468248429867vw;
}

.PMenu{
  color: black;
  text-align: left;
  font-family: bebas-neue-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-right: 20px;
  animation-delay: 0.7s;
  animation-duration: 0.5s;
  animation-name: text-in;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-play-state: paused;
  opacity: 0;
}
.PMenu.open{
  animation-play-state:running;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
  z-index: 50;
}
.PMenu.closed{
  animation-iteration-count: initial;
  animation-name: text-out;
  animation-duration: 0.5s;
  animation-play-state:running;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
  opacity: 1;
}

.aspilltext{
  grid-area: overlap;
  width: 50vw;
  height: 100%;
  z-index: 10;
  pointer-events:none;
}

.background{
  grid-area: overlap;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  transition: unset;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr;
  grid-template-areas:"Overlap";
  background: url(/assets/Web_1920_–_2@2x.png) no-repeat center top fixed;
  background-size: cover;
}

.container1 {
  position: fixed;
  width: 30%;
  background-color: black;
  opacity: 0.1;
  height: 100vh;
  margin-right: 0px;
  box-shadow: 0 0 50px 60px black;
  pointer-events:none;
  transition: unset;
}

.container2 {
  position: relative;
  width: 70%;
  height: 100vh;
}

.test {  
  position: absolute;
  left: 50%;
  transform: translate( -50%);
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 0px;
  margin-left: 0px;
}

.p-inl-extra{
  margin-top: 20px;
  z-index: 50;
}

.FrameJS{
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  transition:unset;
}

.DivMain{ 
  width: auto;
  height: 100vh;
}

.menuLinks{
  position: fixed;
  overflow: hidden;
  z-index: 25;
  pointer-events:none; 
}

.menuCube{
  opacity: 0;
  transform: rotate(-45deg); 
  background-color: white;
  filter: drop-shadow(20px,20px,50px);
  position: fixed;
  overflow: hidden;
  white-space:nowrap;
  animation-name: menu-in;
  animation-duration: 0.8s;
  z-index: 20;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-iteration-count: initial;
}
.menuCube.open{
  opacity: 1;
  animation-play-state:running;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}
.menuCube.closed{
  opacity: 1;
  animation-iteration-count: initial;
  animation-name: menu-out;
  animation-delay: 0.3s;
  animation-duration: 0.8s;
  animation-play-state:running;
  animation-fill-mode: forwards;
}

/*Breakpoints*/

/* mobiel */
@media screen and (max-width: 767px) {
  

  h1 {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 70px;
  }

  
  p{
    margin-left: 15px;
    font-size: 20px;
  }
  
  .PMenu{
    font-size: 15px;
    margin-top: 65px;
    font-size: 30px;
    margin-left: 25px;
  }
  
  .menuCube{
    width: 700px;
    height: 700px;
    top: -375px;
    left: -375px;
  }
  
  @keyframes menu-in {
    0%   { left: -375px; top: -800px; transform: rotate(0deg); }
    100%   { left:-375px; top:-375px; transform: rotate(-45deg); }
  }
  
  @keyframes text-in {
    0% { margin-left:-800px; opacity: 0; pointer-events:all; }
    20% { margin-left:-800px; opacity:1; pointer-events:all; }
    45% { margin-left: 25px; opacity: 1; pointer-events:all; }
    100% { margin-left:25px; opacity: 1; pointer-events:all; }
  }
  
  @keyframes menu-out {
    0%   { left:-375px; top:-375px; transform: rotate(-45deg); opacity: 1; }
    99%   { left:-375px; top: -800px; transform: rotate(0deg); opacity: 1; }
    100% {left:-375px; top: -800px; transform: rotate(0deg);  opacity: 0;}
  }
  
  @keyframes text-out {
    
    0% { margin-left:25px; opacity: 1;pointer-events:all; }
    20% { margin-left:25px; opacity: 1;pointer-events:all; }
    45% { margin-left:-800px; opacity:1; pointer-events:all; }
    100% { margin-left:-800px; opacity: 0; pointer-events:all; }
  }
}

/* ipad */
@media screen and (min-width: 767px) and (max-width:1024px){
  h1 {
    font-size: 40px;
    margin-left: 40px;
    margin-top: 70px;
  }

  p{
    margin-left: 40px;
    font-size: 20px;
  }
  
  .PMenu{
    margin-left: 40px;
    margin-top: 70px;
    font-size: 30px;
  }

  .menuCube{
    width: 700px;
    height: 700px;
    top: -375px;
    left: -375px;
  }
  
  @keyframes menu-in {
    0%   { left: -375px; top: -800px; transform: rotate(0deg); }
    100%   { left:-375px; top:-375px; transform: rotate(-45deg); }
  }
  
  @keyframes text-in {
    0% { margin-left:-800px; opacity: 0; pointer-events:all; }
    20% { margin-left:-800px; opacity:1; pointer-events:all; }
    45% { margin-left: 40px; opacity: 1; pointer-events:all; }
    100% { margin-left:40px; opacity: 1; pointer-events:all; }
  }
  
  @keyframes menu-out {
    0%   { left:-375px; top:-375px; transform: rotate(-45deg); opacity: 1; }
    99%   { left:-375px; top: -800px; transform: rotate(0deg); opacity: 1; }
    100% {left:-375px; top: -800px; transform: rotate(0deg);  opacity: 0;}
  }
  
  @keyframes text-out {
    
    0% { margin-left:40px; opacity: 1;pointer-events:all; }
    20% { margin-left:40px; opacity: 1;pointer-events:all; }
    45% { margin-left:-800px; opacity:1; pointer-events:all; }
    100% { margin-left:-800px; opacity: 0; pointer-events:all; }
  }
}

/* vanaf ipad */
@media screen and (min-width: 1024px) {
  h1 {
    margin-top: 100px;
    margin-left: 40px;
    font-size: 60px;
  } 
  
  p{
    margin-left: 40px;
    font-size: 30px;
  }
  
  .menuCube{
    width: 1000px;
    height: 1000px;
    top: -500px;
    left: -500px;
  }

  .PMenu{
    font-size: 45px;
    margin-left: 40px;
    margin-top: 100px;
  }
  
  @keyframes menu-in {
    0%   { left: -500px; top: -1200px; transform: rotate(0deg); }
    100%   { left:-500px; top:-500px; transform: rotate(-45deg); }
  }
  
  @keyframes text-in {
    0% { margin-left:-800px; opacity: 0; pointer-events:all; }
    20% { margin-left:-800px; opacity:1; pointer-events:all; }
    45% { margin-left: 40px; opacity: 1; pointer-events:all; }
    100% { margin-left:40px; opacity: 1; pointer-events:all; }
  }
  
  @keyframes menu-out {
    0%   { left:-500px; top:-500px; transform: rotate(-45deg); opacity: 1; }
    99%   { left:-500px; top: -1200px; transform: rotate(0deg); opacity: 1; }
    100% {left:-500px; top: -1200px; transform: rotate(0deg);  opacity: 0;}
  }
  
  @keyframes text-out {
    
    0% { margin-left:40px; opacity: 1;pointer-events:all; }
    20% { margin-left:40px; opacity: 1;pointer-events:all; }
    45% { margin-left:-800px; opacity:1; pointer-events:all; }
    100% { margin-left:-800px; opacity: 0; pointer-events:all; }
  }
}

/* MenuBurger button code i might have stolen */
.menu-btn {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  left: 30px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 30;
  /* border: 3px solid #fff; */
}


/* mobiel */
@media screen and (max-width: 767px) {
  .menu-btn {
    margin-left: -10px;
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }

  .menu-btn__burger {
    width: 33px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 33px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-10px);
  }
  .menu-btn__burger::after {
    transform: translateY(10px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

/* ipad */
@media screen and (min-width: 767px) and (max-width:1024px) {
  .menu-btn {
    margin-left: 10px;
    width: 60px;
    height: 60px;
    top: 15px;
  }
  
  
  .menu-btn__burger {
    width: 40px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-12px);
  }
  .menu-btn__burger::after {
    transform: translateY(12px);
  }
  
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

/* vanaf ipad */
@media screen and (min-width: 1024px) {

  .menu-btn {
    margin-left: 10px;
    margin-top: 15px;

  }
  .menu-btn__burger {
    width: 50px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #313131;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
